Data Manipulation and Analysis with Pandas

It's a key tasks in any data science or data analysis project. Pandas provides a wide range of functions for ata manipulation and analysis, making it easier to clean, trasfrom, and exact insights from tdata. Now, I will cover varios data manipulation and analysis techniques using Pandas.

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('data.csv')
# Fetch the first 5 rows
df.head(5)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [5]:
df.tail(5)

    Duration          Date  Pulse  Maxpulse  Calories
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [6]:
df.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [7]:
df.dtypes

Duration      int64
Date            str
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [9]:
# Handling Missing Values
df.isnull().any(axis=1)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18     True
19    False
20    False
21    False
22     True
23    False
24    False
25    False
26    False
27    False
28     True
29    False
30    False
31    False
dtype: bool

In [10]:
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [ ]:
df_filled = df.fillna(0)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       0.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45             0    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       0.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [15]:
# Filling missing values with the mean of the column
df['Calories_fillNA'] = df['Calories'].fillna(df['Calories'].mean())
df

    Duration          Date  Pulse  Maxpulse  Calories  Calories_fillNA
0         60  '2020/12/01'    110       130     409.1           409.10
1         60  '2020/12/02'    117       145     479.0           479.00
2         60  '2020/12/03'    103       135     340.0           340.00
3         45  '2020/12/04'    109       175     282.4           282.40
4         45  '2020/12/05'    117       148     406.0           406.00
5         60  '2020/12/06'    102       127     300.0           300.00
6         60  '2020/12/07'    110       136     374.0           374.00
7        450  '2020/12/08'    104       134     253.3           253.30
8         30  '2020/12/09'    109       133     195.1           195.10
9         60  '2020/12/10'     98       124     269.0           269.00
10        60  '2020/12/11'    103       147     329.3           329.30
11        60  '2020/12/12'    100       120     250.7           250.70
12        60  '2020/12/12'    100       120     250.7           250.70
13        60  '2020/12/13'    106       128     345.3           345.30
14        60  '2020/12/14'    104       132     379.3           379.30
15        60  '2020/12/15'     98       123     275.0           275.00
16        60  '2020/12/16'     98       120     215.2           215.20
17        60  '2020/12/17'    100       120     300.0           300.00
18        45  '2020/12/18'     90       112       NaN           304.68
19        60  '2020/12/19'    103       123     323.0           323.00
20        45  '2020/12/20'     97       125     243.0           243.00
21        60  '2020/12/21'    108       131     364.2           364.20
22        45           NaN    100       119     282.0           282.00
23        60  '2020/12/23'    130       101     300.0           300.00
24        45  '2020/12/24'    105       132     246.0           246.00
25        60  '2020/12/25'    102       126     334.5           334.50
26        60      20201226    100       120     250.0           250.00
27        60  '2020/12/27'     92       118     241.0           241.00
28        60  '2020/12/28'    103       132       NaN           304.68
29        60  '2020/12/29'    100       132     280.0           280.00
30        60  '2020/12/30'    102       129     380.3           380.30
31        60  '2020/12/31'     92       115     243.0           243.00

In [16]:
df.dtypes

Duration             int64
Date                   str
Pulse                int64
Maxpulse             int64
Calories           float64
Calories_fillNA    float64
dtype: object

In [17]:
# Renaming Columns
df = df.rename(columns={'Date': 'workout Date'})
df

    Duration  workout Date  Pulse  Maxpulse  Calories  Calories_fillNA
0         60  '2020/12/01'    110       130     409.1           409.10
1         60  '2020/12/02'    117       145     479.0           479.00
2         60  '2020/12/03'    103       135     340.0           340.00
3         45  '2020/12/04'    109       175     282.4           282.40
4         45  '2020/12/05'    117       148     406.0           406.00
5         60  '2020/12/06'    102       127     300.0           300.00
6         60  '2020/12/07'    110       136     374.0           374.00
7        450  '2020/12/08'    104       134     253.3           253.30
8         30  '2020/12/09'    109       133     195.1           195.10
9         60  '2020/12/10'     98       124     269.0           269.00
10        60  '2020/12/11'    103       147     329.3           329.30
11        60  '2020/12/12'    100       120     250.7           250.70
12        60  '2020/12/12'    100       120     250.7           250.70
13        60  '2020/12/13'    106       128     345.3           345.30
14        60  '2020/12/14'    104       132     379.3           379.30
15        60  '2020/12/15'     98       123     275.0           275.00
16        60  '2020/12/16'     98       120     215.2           215.20
17        60  '2020/12/17'    100       120     300.0           300.00
18        45  '2020/12/18'     90       112       NaN           304.68
19        60  '2020/12/19'    103       123     323.0           323.00
20        45  '2020/12/20'     97       125     243.0           243.00
21        60  '2020/12/21'    108       131     364.2           364.20
22        45           NaN    100       119     282.0           282.00
23        60  '2020/12/23'    130       101     300.0           300.00
24        45  '2020/12/24'    105       132     246.0           246.00
25        60  '2020/12/25'    102       126     334.5           334.50
26        60      20201226    100       120     250.0           250.00
27        60  '2020/12/27'     92       118     241.0           241.00
28        60  '2020/12/28'    103       132       NaN           304.68
29        60  '2020/12/29'    100       132     280.0           280.00
30        60  '2020/12/30'    102       129     380.3           380.30
31        60  '2020/12/31'     92       115     243.0           243.00

In [19]:
# Change datatypes
df['Maxpulse_new'] = df["Maxpulse"].astype(float)
df.head()

,Duration,workout Date,Pulse,Maxpulse,Calories,Calories_fillNA,Maxpulse_new
0,60,'2020/12/01',110,130,409.1,409.1,130.0
1,60,'2020/12/02',117,145,479.0,479.0,145.0
2,60,'2020/12/03',103,135,340.0,340.0,135.0
3,45,'2020/12/04',109,175,282.4,282.4,175.0
4,45,'2020/12/05',117,148,406.0,406.0,148.0

In [20]:
# Data Aggregating and Grouping
df.head()

,Duration,workout Date,Pulse,Maxpulse,Calories,Calories_fillNA,Maxpulse_new
0,60,'2020/12/01',110,130,409.1,409.1,130.0
1,60,'2020/12/02',117,145,479.0,479.0,145.0
2,60,'2020/12/03',103,135,340.0,340.0,135.0
3,45,'2020/12/04',109,175,282.4,282.4,175.0
4,45,'2020/12/05',117,148,406.0,406.0,148.0

In [22]:
grouped_mean = df.groupby('Pulse')['Calories'].mean()
print(grouped_mean)

Pulse
90            NaN
92     242.000000
97     243.000000
98     253.066667
100    268.900000
102    338.266667
103    330.766667
104    316.300000
105    246.000000
106    345.300000
108    364.200000
109    238.750000
110    391.550000
117    442.500000
130    300.000000
Name: Calories, dtype: float64

In [24]:
# Aggretage multiple functions
grouped_agg = df.groupby('Duration')['Calories'].agg(['mean','sum', 'count'])
grouped_agg

               mean     sum  count
Duration
30        195.10000   195.1      1
45        291.88000  1459.4      5
60        314.46087  7232.6     23
450       253.30000   253.3      1

In [25]:
# Merging and joining Dataframes
# create sample Dataframes
df1 = pd.DataFrame({'Key': ['A', 'B', 'C'], 'Values1': [1, 2, 3]})
df2 = pd.DataFrame({'Key': ['A', 'B', 'D'], 'Value2': [4, 5, 6]})

In [26]:
df1

  Key  Values1
0   A        1
1   B        2
2   C        3

In [27]:
df2

  Key  Value2
0   A       4
1   B       5
2   D       6

In [28]:
# Merge Dataframe on the 'Key Columns'
pd.merge(df1, df2, on='Key',how='inner')

  Key  Values1  Value2
0   A        1       4
1   B        2       5

In [29]:
pd.merge(df1,df2,on="Key",how="outer")

  Key  Values1  Value2
0   A      1.0     4.0
1   B      2.0     5.0
2   C      3.0     NaN
3   D      NaN     6.0

In [30]:
pd.merge(df1,df2,on="Key",how="left")

  Key  Values1  Value2
0   A        1     4.0
1   B        2     5.0
2   C        3     NaN

In [31]:
pd.merge(df1,df2,on="Key",how="right")

  Key  Values1  Value2
0   A      1.0       4
1   B      2.0       5
2   D      NaN       6